
@media screen and (max-width: 479px) {
	.wrapper {
		width: 200px;
	}

	.header {
		width: 200px;
		height: 200px;
		padding: 20px;
	}

	.header_contents {
		clear: both;
		width: 60px;
		height: 160px;
		margin: auto;
		float: none;
	}

	.header_contents li {
  		clear: both;
  		margin: 0px 10px 10px 10px;
	}	

	.left {
		width: 200px;
		clear: both;
	}

	.right {
		width: 200px;
		height: 210px;
		clear: both;
	}

	.right_contents {
		margin: 20px auto;
	}


	.footer {
		width: 200px;
		clear: both
	}
}